@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"),
	url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"),
	url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"),
	url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: "Lato", sans-serif;
	color: #424551;
}

[class*="__container"] {
	margin: 0 auto;
}

.header__container,
.footer__container {
	padding: 30px 0px 30px 0px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	max-width: 810px;
}

.article__container {
	max-width: 810px;
}

.article__title {
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	color: #1E212C;
	margin-bottom: 92px;
}

.article__image {
	margin-bottom: 60px;
}

.article__image img {
	max-width: 100%;
}

.article__main-text,
.article__quote {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	color: #1E212C;
}

.article__main-text {
	margin-bottom: 24px;
}

.article__text {
	line-height: 160%;
	margin-bottom: 48px;
}

.article__text p:first-child {
	margin-bottom: 24px;
}

.article__quote {
	margin-bottom: 48px;
	background: url(../img/braces.svg) 0 0 no-repeat;
	padding: 0px 0px 0px 58px;
}

.article__text ul {
	margin-bottom: 24px;
}

.article__text li {
	padding-left: 32px;
	min-height: 20px;
	background: url(../img/check.svg) 0 5px no-repeat;
}

.article__text li:not(:last-child) {
	margin-bottom: 4px;
}

.about__container,
.courses__container,
.benefits__container {
	max-width: 1230px;
}

.about__image {
	max-width: 100%;
	display: inline;
	margin-right: 130px;
}

.about__body {
	display: inline-block;
	max-width: 390px;
}

.heading__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
	margin-bottom: 8px;
}

.heading__main-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}

.about__heading {
	max-width: 298px;
	margin-bottom: 40px;
}

.about__list li {
	padding-left: 32px;
	min-height: 18px;
	line-height: 160%;
	background: url(../img/check.svg) 0 5px no-repeat;
}

.about__list li:not(:last-child) {
	margin-bottom: 12px;
}

.about__list ul {
	margin-bottom: 48px;
}

.button__text {
	font-weight: 700;
	font-size: 14px;
	line-height: 44px;
	letter-spacing: 0.49px;
	color: #FFFFFF;
}

.button {
	background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	text-align: center;
	padding: 0px 32px 0px 32px;
	max-width: 161px;
}

.about__button {
	margin-bottom: 222px;
}

.courses__heading {
	margin-right: 650px;
	max-width: 367px;
	display: inline-block;
}

.courses__button {
	display: inline-block;
}

.another-button__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 52px;
	letter-spacing: 0.45px;
	color: #FF3F3A;
}

.another-button {
	border-radius: 4px;
	text-align: center;
	padding: 0px 39px 0px 39px;
	max-width: 202px;
	border: 1px solid #FF3F3A;
}

.courses__button {
	margin-bottom: 60px;
}

.block {
	display: inline;
	max-width: 600px;
}

.block__image {
	max-width: 100%;
	display: inline;
}

.course {
	display: inline-block;
	max-width: 386px;
}

.course__badge {
	border-radius: 4px;
	text-align: center;
	padding: 1px 8px 1px 8px;
	max-width: 79px;
	background: #03CEA4;
	margin-bottom: 20px;
}

.block__course {
	margin: 32px;
	max-width: 322px;
}

.badge__text {
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
}

.course__name {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 20px;
}

.course__info {
	font-size: 18px;
	line-height: 150%;
	color: #787A80;
}

span {
	color: #FF4242;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
}

.courses__block-1,
.courses__block-3,
.courses__block-5 {
	margin-right: 28px;
	background: #FFFFFF;
}

.badge--color-blue{
	max-width: 97px;
	background: #5A87FC;
}

.badge--color-orange{
	max-width: 112px;
	background: #F89828;
}

.badge--color-pink{
	max-width: 59px;
	background: #F52F6E;
}

.block__course {
	margin-bottom: 92px;
}

.benefits__heading {
	text-align: center;
}





